.content {
  height: calc(80vh - 52px);
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  color: #182e58;
  text-align: center;

  .main-header {
    margin-bottom: 50px;
  }

  .sub-header {
    margin-bottom: 25px;
  }

  .text-input {
    border-radius: 0;
  }

  .forgot-password {
    margin-top: 15px;
    font-size: 12px;
  }
}
