.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}




/** Main Modal **/



/** Maturity Data **/
#firstMainTable {
  margin: auto;
  width: 80%;
}
#firstTable {
  border-top-style: hidden !important;
  border-bottom-style: hidden !important;
  font-size: 10px;
  color: grey;
  font-weight: normal;
  text-align: left!important;
  margin: auto;
}
#firstTableData {
  font-size: 12px;
  color: grey;
  font-weight: bold;
  color: rgb(58, 77, 150);
  text-align: left!important;
}
#firstTableHeader{
  padding-bottom: 0;
}
#firstData {
  padding-top: 0;
}
#secondMainTable {
  margin: auto;
  width: 80%;
}
#secondTable {
  border-bottom-style: hidden !important;
  font-size: 10px;
  color: grey;
  font-weight: normal;
  text-align: left!important;
  margin: auto;
}
#secondTableHeader {
  padding-bottom: 1%;
  border-top: 1px solid rgb(225,225,225);
}
#secondTableData {
  
  font-size: 12px;
  color: grey;
  font-weight: bold;
  color: rgb(58, 77, 150);
  text-align: left!important;
}
#secondData{
  padding-top: 0;
  text-align: left!important;
}
#btntd {
  border-top: none;
  border-bottom: 1px solid rgb(225,225,225);
}
#btnadd {
  background-color: rgb(4, 4, 63);
  border: none;
  font-size: 8px;
  color:white;
}
/** Maturity Data **/
