#iconDL {
  cursor: pointer;
  width: 40px;
  height: auto;
  color: #fff;
  background-color: #182e58;
  border-radius: 3px;
  vertical-align: text-top;
  margin: 0px 10px;
  padding: 5px 10px;
}

#colSearch .form-inline {
  flex-flow: row;
}

#colSearch .search-box {
  height: 32px;
  border-radius: 0px;
}

#btnSearch {
  background-color: #182e58;
}

#contFunctions {
  margin-right: 0px;
}

#headerId .nav {
  font-size: 11px;
}

#headerId .nav .nav-item a {
  padding: 0.25rem 0.5rem;
}

#headerId .nav .nav-item a.active {
  font-weight: 500 !important;
  color: #3f33b1 !important;
}

.table-content thead {
  border-bottom: 1px solid #adadad;
}

.debtTabs {
  background-color: #fff;
  color: #8b8b8b;
}

.main-content .nav-link.active {
  font-weight: 500 !important;
  color: #3f33b1 !important;
}

.main-content .nav-link {
  font-size: 12px !important;
  color: #a1aca9;
}

#left-tabs-example-tab-maturity {
  color: grey;
}

#left-tabs-example-tab-tranches {
  color: grey;
}

#left-tabs-example-tab-allocation {
  color: grey;
}

#left-tabs-example-tab-credit {
  color: grey;
}

#left-tabs-example-tab-document {
  color: grey;
}

#left-tabs-example-tab-service {
  color: grey;
}

#left-tabs-example-tab-audit {
  color: grey;
}

#left-tabs-example-tab-settlement {
  color: grey;
}

#left-tabs-example-tab-maturity:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-maturity.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-tranches:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-tranches.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-allocation:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-allocation.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-credit:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-credit.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-document:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-document.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-service:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-service.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-audit:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-audit.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-settlement:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-settlement.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#pHead {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 11px;
  color: #615f5f;
}

#headerId .nav {
  font-size: 11px;
}

#headerId .nav .nav-item a {
  padding: 0.25rem 0.5rem;
}

#headerId .nav .nav-item a.active {
  font-weight: 500 !important;
  color: #3f33b1 !important;
}

#pHead1 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 10px;
  color: #615f5f;
}

#pBody {
  color: #192f59;
  font-size: 20px;
  margin-bottom: 35px;
}

#pFooter {
  font-size: 12px;
  color: #615f5f;
}

.App-link {
  color: #09d3ac;
}

/* Main Nav CSS **/

.nav {
  color: #a2a2a2;
  text-decoration-style: none;
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  margin-left: 8px;
}

#cards:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.table-content thead {
  border-bottom: 1px solid #adadad;
}

.table-content th {
  font-weight: normal;
}

.debtTabs {
  background-color: #fff;
  color: #8b8b8b;
}

/** Main Modal **/

.main-content .nav-link.active {
  font-weight: 500 !important;
  color: #3f33b1 !important;
}

.main-content .nav-link {
  font-size: 12px !important;
  color: #a1aca9;
}

#left-tabs-example-tab-maturity {
  color: grey;
}

#left-tabs-example-tab-tranches {
  color: grey;
}

#left-tabs-example-tab-allocation {
  color: grey;
}

#left-tabs-example-tab-credit {
  color: grey;
}

#left-tabs-example-tab-document {
  color: grey;
}

#left-tabs-example-tab-service {
  color: grey;
}

#left-tabs-example-tab-audit {
  color: grey;
}

#left-tabs-example-tab-settlement {
  color: grey;
}

#left-tabs-example-tab-maturity:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-maturity.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-tranches:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-tranches.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-allocation:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-allocation.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-credit:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-credit.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-document:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-document.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-service:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-service.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-audit:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-audit.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-settlement:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-settlement.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

/** End of Main Modal **/

/** Maturity Data **/

#firstMainTable {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 64%;
}

#firstTable {
  border-top-style: hidden !important;
  border-bottom-style: hidden !important;
  font-size: 10px;
  color: grey;
  font-weight: normal;
  text-align: left !important;
  margin: auto;
}

#firstTableData {
  font-size: 12px;
  color: grey;
  font-weight: bold;
  color: rgb(58, 77, 150);
  text-align: left !important;
}

#firstTableHeader {
  padding-bottom: 0;
}

#firstData {
  padding-top: 0;
}

#secondMainTable {
  margin: auto;
  width: 64%;
}

#secondTable {
  border-bottom-style: hidden !important;
  font-size: 10px;
  color: grey;
  font-weight: normal;
  text-align: left !important;
  margin: auto;
}

#secondTableHeader {
  padding-bottom: 1%;
  border-top: 1px solid rgb(225, 225, 225) !important;
}

#secondTableData {
  font-size: 12px;
  color: grey;
  font-weight: bold;
  color: rgb(58, 77, 150);
  text-align: left !important;
}

#secondData {
  padding-top: 0;
  text-align: left !important;
}

#btntd {
  border-top: none;
  border-bottom: 1px solid rgb(225, 225, 225) !important;
}

#btnadd {
  background-color: rgb(25, 47, 89);
  border: none;
  font-size: 8px;
  color: white;
  border-radius: 2px;
}

/** Maturity Data **/

#text-center {
  text-align: center;
}

#text-right {
  text-align: right;
}

#text-left {
  text-align: left;
}

#float-left {
  float: left;
}

#float-right {
  float: right;
}

#border-b-0 {
  border-bottom: hidden;
}

#border-b-1 {
  border-bottom: 1px solid #adadad;
}

#border-r-1 {
  border-right: 1px solid #dcdcdc;
}

#d-block {
  display: block;
}

table {
  font-size: 0.7rem;
}

/** CSS for CreditLimits, Documents, Settlement section **/

table thead tr th {
  font-weight: normal;
  color: grey;
}

table tbody {
  color: #0a3a94;
}

thead tr th,
tbody tr td:last-child {
  border: none !important;
}

tbody tr#border-b-0:hover {
  background-color: transparent;
}

#recordpayment tbody tr {
  border: hidden !important;
}

#recordpayment .form-inline .form-control {
  border-radius: 0px;
  font-size: 11px;
  color: #0a3a94;
  height: 25px;
  padding: 2px 10px;
  margin-right: 0px !important;
}

#recordpayment .input-left {
  border-right: 0;
  border-radius: 0px;
  padding: 0 5px 0px 0px;
  font-size: 11px;
  color: #0a3a94;
}

#recordpayment .input-span {
  border-left: 0;
  border-radius: 0px;
  padding: 1px 10px 0px 0px;
  font-size: 11px;
}

#recordpayment .btn-sm {
  padding: 0rem 1rem;
}

#settle-table .dropleft a {
  background-color: #fff;
}

#settle-table .dropleft .dropdown-item {
  padding: 2px 1.5rem;
  font-size: 12px;
}

.dropleft a {
  color: #0a3a94;
}

#pdf-logo {
  color: #ff0000;
  text-align: center;
}

#verify {
  text-align: center;
  color: #adadad;
  /*color: #398a25;*/
}

/*#verify i{
    visibility: hidden !important;
}*/

#settle-menu a {
  background-color: #fff;
  text-decoration: none;
  padding-left: 3rem;
  color: #a1aca9;
}

#settle-menu a:hover {
  color: #3f33b1;
}

#settle-menu a.active {
  font-weight: 500 !important;
  color: #3f33b1 !important;
}

#settle-table .dropleft a {
  background-color: #fff;
}

#settle-table .dropleft .dropdown-item {
  padding: 2px 1.5rem;
  font-size: 12px;
}

/* #iconDL {
  cursor: pointer;
  width: 50px;
  height: 25px;
  color: white;
  border: 1px solid #182e58;
  background-color: #182e58;
  border-radius: 5px;
} */

#approvedData {
  text-align: center;
  align-content: center;
  align-items: center;
  padding-top: inherit;
  margin-bottom: 0;
  height: 100%;
}

/** End of section **/

/*Responsive for mobile 320px*/

@media (min-width: 320px) {
  #pHeader {
    font-size: 10px;
    border-bottom: 1px solid #182e58;
    width: 85px;
  }
  #sideBar {
    width: 45%;
    float: left;
  }
  #fMenu {
    color: #182e58;
    font-size: 10px;
    cursor: pointer;
  }
  #dMenu {
    opacity: 0.4;
    margin-top: 7px;
    font-size: 10px;
    cursor: pointer;
  }
  /* #iconDL {
    width: 30px;
    height: 15px;
    border-radius: 2px;
  }
  #searchBox {
    width: 120px;
    height: 18px;
    margin-left: 60%;
  }
  #btnSearch {
    width: 20px;
    height: 20px;
  }
  #iconSearch {
    width: 8px;
    height: 8px;
    margin-bottom: 8px;
    margin-left: -2px;
  } */
  #contFunctions {
    width: 700px;
  }
  .icon-content {
    text-align: center;
  }
  #headerId .nav {
    text-align: center;
  }
  #headerId #iconChev {
    visibility: hidden;
  }
}

/*Responsive for mobile*/

@media (min-width: 375px) {
  #pHeader {
    font-size: 12px;
    border-bottom: 1px solid #182e58;
    width: 100px;
  }
  #sideBar {
    width: 45%;
    float: left;
  }
  #fMenu {
    color: #182e58;
    font-size: 11px;
    cursor: pointer;
  }
  #dMenu {
    opacity: 0.4;
    margin-top: 7px;
    font-size: 11px;
    cursor: pointer;
  }
  /* #iconDL {
    width: 35px;
    height: 15px;
    border-radius: 2px;
  }
  #searchBox {
    width: 150px;
    height: 21px;
    margin-left: 60%;
  }
  #btnSearch {
    width: 22px;
    height: 21px;
  }
  #iconSearch {
    width: 10px;
    height: 10px;
    margin-bottom: 7px;
    margin-left: -2px;
  }
  #contFunctions {
    width: 800px;
  } */
  /* #colSearch {
    float: right;
  }
  #tableId {
    font-size: 10px;
    width: 75%;
    float: left;
  } */
}

/*Responsive for tablet*/

@media (min-width: 768px) {
  #pHeader {
    font-size: 14px;
    border-bottom: 2px solid #182e58;
    width: 118px;
  }
  #sideBar {
    width: 25%;
    float: left;
  }
  #fMenu {
    color: #182e58;
    font-size: 14px;
    cursor: pointer;
  }
  #dMenu {
    opacity: 0.4;
    margin-top: 7px;
    font-size: 14px;
    cursor: pointer;
  }
  #colSearch .form-inline {
    float: right;
  }
  #searchBox {
    width: 180px;
    height: 25px;
  }
  #headerId .nav {
    text-align: left;
  }
  #headerId #iconChev {
    visibility: visible;
  }
  #headerId .sideMenu {
    border-right: 1px solid #dcdcdc;
  }
  #colSearch {
    float: right;
  }
  #tableId {
    font-size: 12px;
  }
  #contFunctions {
    margin-left: 20%;
  }
}

@media (min-width: 1024px) {
  #pHeader {
    color: #182e58;
    border-bottom: 2px solid #182e58;
    width: 130px;
  }
  #sideBar {
    width: 15%;
    height: 100%;
    float: left;
    padding-left: 0;
    border-right: 1px solid #e5e5e5;
  }
  #fMenu {
    color: #182e58;
    font-size: 14px;
    cursor: pointer;
  }
  #dMenu {
    opacity: 0.4;
    margin-top: 7px;
    font-size: 14px;
    cursor: pointer;
  }
  .icon-content {
    text-align: left;
  }
  /* #searchBox {
    width: 220px;
    height: 30px;
  }
  #btnSearch {
    height: 35px;
    width: 35px;
    background-color: #182e58;
  }
  #iconSearch {
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-left: 1px;
  }
  #colSearch {
    display: flex;
    float: right;
  }
   */
  /* #formF {
    width: 100%;
  } */
  #tableId {
    font-size: 12px;
  }
  #contFunctions {
    margin-left: 160px;
    margin-right: 0px;
  }
}

.debtTabs {
  background-color: #fff;
  color: #8b8b8b;
}

/** Main Modal **/

#left-tabs-example-tab-maturity {
  color: grey;
}

#left-tabs-example-tab-tranches {
  color: grey;
}

#left-tabs-example-tab-allocation {
  color: grey;
}

#left-tabs-example-tab-credit {
  color: grey;
}

#left-tabs-example-tab-document {
  color: grey;
}

#left-tabs-example-tab-service {
  color: grey;
}

#left-tabs-example-tab-audit {
  color: grey;
}

#left-tabs-example-tab-settlement {
  color: grey;
}

#left-tabs-example-tab-maturity:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-maturity.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-tranches:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-tranches.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-allocation:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-allocation.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-credit:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-credit.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-document:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-document.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-service:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-service.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-audit:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-audit.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}

#left-tabs-example-tab-settlement:hover {
  color: rgba(0, 0, 0, 0.7);
}

#left-tabs-example-tab-settlement.active {
  color: darkblue;
  border-bottom: 2px solid darkblue !important;
}
